<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <style type="text/css">
    #canvas {
      border: 1px solid black;
    }
  </style>
  <script type="text/javascript">

    $(function() {

        document.body.bgColor = "red";

        var ws = new WebSocket("ws://" + window.location.host + "/api/remote");
        var pose = null;
        var confidence = 0;
        var path = [];
        var voxels = null;

        ws.onopen = function() {
            console.log("ws opened");
            document.body.bgColor = "green";
        };

        ws.onclose = function() {
            console.log("ws closed");
            document.body.bgColor = "red";
        };

        ws.onmessage = function(event) {
            var message = JSON.parse(event.data)
            console.debug("ws message: " + JSON.stringify(message));

            if (message["action"] === "locator_update")
            {
                pose = message["pose"];
                confidence = message["confidence"];
                render();
            }
            else if (message["action"] === "path_update")
            {
                path = message["path"];
            }
            else if (message["action"] === "voxels_update")
            {
                voxels = message["voxels"];
            }
        };

        function sendAction(action, params)
        {
            if (params)
            {
                ws.send(JSON.stringify({ action: action, params: params }));
            }
            else
            {
                ws.send(JSON.stringify({ action: action }));
            }
        }

        var keyState = {};

        function update()
        {
            var power = parseInt($("#power").val());
            var brake = $("#brake:checked").length > 0;

            if (keyState[37] || keyState[65]) // left arrow or a
            {
                sendAction("turn_in_place", { power: -power });
            }
            else if (keyState[39] || keyState[68]) // right arrow or d
            {
                sendAction("turn_in_place", { power: power });
            }
            else if (keyState[38] || keyState[87]) // up arrow or w
            {
                sendAction("drive", { power: power });
            }
            else if (keyState[40] || keyState[83]) // down arrow or s
            {
                sendAction("drive", { power: -power });
            }
            else if (!brake)
            {
                sendAction("float");
            }
            else
            {
                sendAction("stop");
            }
        }

        $(window)
            .keydown(function(event) {
                keyState[event.which] = true;
                event.preventDefault();
                update();
            })
            .keyup(function() {
                keyState[event.which] = false;
                event.preventDefault();
                update();
            });

        $("#power").change(function() {
            update();
        });

        $("#clear_path").click(function() {
            sendAction("set_path", { path: [] });
            path = []
        });

        var PIXELS_PER_METER = 100;
        var canvas = $("#canvas").get(0);
        var ctx = canvas.getContext("2d");

        $("#canvas").click(function(event) {

            var x = (event.pageX - $(this).offset().left - canvas.width / 2) / PIXELS_PER_METER;
            var y = (canvas.height / 2 - (event.pageY - $(this).offset().top)) / PIXELS_PER_METER;

            if ($("#set_target:checked").length > 0)
            {
                // set target location for path finder
                sendAction("set_target", { target: [ x, y ] });
            }
            else
            {
                // append to existing path
                path.push([x, y]);
                sendAction("set_path", { path: path });
            }

        });

        function render()
        {
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // draw voxels

            if (voxels)
            {
                ctx.fillStyle = "black";

                for (var i=0; i < voxels.grid.length; i++)
                {
                    for (var j=0; j < voxels.grid[0].length; j++)
                    {
                        if (voxels.grid[i][j] > 0)
                        {
                            ctx.fillStyle = "lightgray";
                        }
                        else
                        {
                            ctx.fillStyle = "black";
                        }

                        var x = voxels.offset[0] + voxels.scale * i;
                        var y = voxels.offset[1] + voxels.scale * j;

                        ctx.fillRect(
                            canvas.width / 2 + x * PIXELS_PER_METER,
                            canvas.height / 2 - y * PIXELS_PER_METER,
                            voxels.scale * PIXELS_PER_METER,
                            voxels.scale * PIXELS_PER_METER);
                    }
                }
            }

            // draw pose

            if (pose)
            {
                ctx.save();

                var x = canvas.width / 2 + pose[0] * PIXELS_PER_METER;
                var y = canvas.height / 2 - pose[1] * PIXELS_PER_METER;

                ctx.translate(x, y);
                ctx.rotate(-pose[2] * Math.PI / 180);

                ctx.beginPath();
                ctx.moveTo(0, 5);
                ctx.lineTo(20, 0);
                ctx.lineTo(0, -5);
                ctx.lineTo(0, 5);
                ctx.fillStyle = "blue";
                ctx.fill();
                ctx.closePath();

                ctx.restore();
            }

            // draw path

            ctx.moveTo(x, y);

            for (var i=0; i < path.length; i++)
            {
                var target_x = canvas.width / 2 + path[i][0] * PIXELS_PER_METER;
                var target_y = canvas.height / 2 - path[i][1] * PIXELS_PER_METER;
                ctx.lineTo(target_x, target_y);
            }

            ctx.strokeStyle = "blue";
            ctx.stroke();
            ctx.closePath();
        }
    });

  </script>
</head>
<body>
  <p>Use the keyboard to drive the robot</p>
  <p>Up/W - forward, Down/S - Reverse, Left/A - turn left, Right/D - turn right</p>
  <p>
    Power: <input type="range" id="power" min="0" max="100" step="" value="30" />
  </p>
  <p>
    <input id="brake" type="checkbox" checked /><label for="brake">Brake</label>
  </p>
  <p>
    <input id="clear_path" type="button" value="Clear Path" />
    <input id="set_target" type="checkbox" /><label for="set_target">Set target location on click</label>
  </p>
  <canvas id="canvas" width="800" height="600"></canvas>
  <h3>Upload Config Blob</h3>
  <form action="/config/blob" method="post" enctype="multipart/form-data">
    <p>
      <input type="file" name="file" />
      <input type="submit" value="Upload" />
    </p>
  </form>
</body>
</html>